.nav-mobile {
  width: 100%;
  background-color: var(--nav-bar);
  position: fixed;
  bottom: 0;
  display: flex;
  height: 70px;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.nav-mobile > a {
  padding: 5px;
  height: 80%;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  font-size: 0.8rem;
  border: none;
  background: none;
}

/* .nav-mobile > a:hover {
  background-color: rgba(247, 247, 247, 0.61);
} */

.nav-mobile > a > img {
  width: 30px;
  height: 40px;
}