* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 1px solid tomato;
  font-family: 'Rubik', sans-serif;
}

:root{
  --background:#011936;
}
body{
  background-color: var(--background);
}
#root{
  display: flex;
  flex-direction: column;
  /* margin: 0 20px; */
}

.panel{
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* padding: 40px 0 5px 0; */
  min-width: 200px;
  /* width: 270px; */
  width: 80%;
  min-height: 230px;
  margin:30px auto;
  background-color: silver;
  border-radius: 20px;
}

.stats{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
}

.ingresos-mes p, .gastos-mes p{
  margin: 15px;
}

.ingresos-mes >span, .gastos-mes >span{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  border-radius: 100%;

}

.ingresos-mes >span{
  background: grey;
  border: 3px solid green;
}
.gastos-mes >span{
  background: rgb(87,25,25);
background: linear-gradient(0deg, rgba(87,25,25,1) 40%, rgba(207,15,15,1) 93%);
}

#msj-mes{
  text-align: end;
  padding:5px 15px;
}

.saldo-actual{
  font-size: 3rem;
  font-weight: bold;
  color: rgb(0, 0, 255);
}

.saldo-actual::first-letter{
  font-size: 2rem;
}

.botones{
  height: 40px;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.btn-ingresar, .btn-gastar{
  width: 100px;
  height: 100%;
  border-radius: 10px;
  border: none;
  /* padding: 10px; */
}

.panel-movimientos{
  height: 90%;
  width: 90%;
}
@media ( width >1000px) {
  #root{
    display: grid;
    grid-template-areas: 
      "profile saldo movimientos"
      "profile stats movimientos";
    height: 100vh;
    grid-template-columns: 20% 40% 40%;
  }
  .panel-stats{
    grid-area: stats;
  }
  .panel-movimientos{
    margin: 30px 20px;
    grid-area: movimientos;
  }
  .panel-profile{
    grid-area: profile;
    gap: 50px;
    margin: 0;
    justify-content:stretch;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: 100%;
    padding-top: 30px;
  }
  .titulo{
    display: flex;
    gap: 10px;
  }
  .titulo > img{
    width: 60px;
    height: 60px;
  }

  .info-profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .info-profile > img{
    width: 200px;
    height: 200px;
    border-radius: 200px;
  }

  .info-profile > p{
    font-size: 2rem;
    text-align: center;
  }
  .options{
    display: flex;
    flex-direction: column;
    gap: 20px;

  }
  .options > button{
    border-radius: 0px;
    border: none;
    padding: 10px;
  }
}