* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid tomato; */
  font-family: "Rubik", sans-serif;
}

:root {
  --background: #011936;
  --nav-bar: #465362;
}
body {
  background-color: var(--background);
}

button:hover {
  cursor: pointer;
}

#root {
  display: flex;
  flex-direction: column;
  /* height: calc(100vh - 75px); */
  margin-bottom: 100px;
}

.invisible{
  display: none !important;
}

.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 5px;
  top: 0;
  width: 100%;
  background-color: var(--background);
  z-index: 10;
}

.logo > img{
  width: 30px;
  height: 30px;
}

.logo > h1{
  font-size: 1rem;
  color: white;
}

.panel {
  background-color: var(--nav-bar);
  border-radius: 20px;
}


.nav-mobile {
  width: 100%;
  background-color: var(--nav-bar);
  position: fixed;
  bottom: 0;
  display: flex;
  height: 70px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-top-left-radius: 20px; 
  border-top-right-radius: 20px; 
  z-index: 10;
  border-top: 2px solid black;
}

.nav-mobile > button {
  padding: 5px;
  height: 80%;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  font-size: 0.8rem;
  border: none;
  background: none;
}

.nav-mobile > button:hover {
  background-color: rgba(247, 247, 247, 0.61);
}

.nav-mobile > button > img {
  width: 30px;
  height: 40px;
}

.panel-profile{
  margin: auto;
  padding: 20px;
  max-width: 500px;
  gap: 10px;
}

.info-profile{
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.info-profile > img{
  border: 2px solid #465362;
  border-radius: 150px;
  width: 150px;
  height: 150px;
}

.info-profile > p{
  font-size: 3rem;
  text-align: center;
  min-width: 150px;
}


.saldo-actual{
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.saldo-actual > h4{
  font-size: 1.9rem;
  color: red;
}

.saldo-actual > p{
  font-size: 2.5rem;
  text-align: center;
}

.container-modal{
  color: aliceblue;
  background-color: #33AE15;
  height: 100vh;
  position: absolute;
  background-color: rgba(32,35,41,.8);
  width: 100vw;
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-movimiento{
  background-color: rebeccapurple;
  width: 80%;

  border-radius: 30px;
  padding: 15px;
  max-width: 400px;

}

.modal-movimiento > h3{
  margin: 10px;
  text-align: center;

}

.form-nuevo-movimiento{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form-nuevo-movimiento > label, .metodos-pago{
  padding: 10px;
  display: flex;
  gap: 5px;
  align-items: center;
  width: 100%;
  background-color: var(--nav-bar);
  border-radius: 20px;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 5px;
}

textarea{
  width: 100%;
  height: 70px;
  padding: 10px;
  resize: none;
}

.btns-form{
  display: flex;
  justify-content: space-evenly;
}

.btn{
  padding: 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.metodos-pago > div{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.metodos-pago > div > label{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

@media (width < 430px) {           
  .fecha-item::first-line{
    font-size: 0.7rem;
  }
  .panel-profile{
    margin: auto 30px;
  }
}  

@media (width < 710px) {           
  .saldo-actual{
    margin: 20px auto;
    height: 120px;
  }
}  

